<form action="/songs/<%= @song.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">


<label>Enter song name:</label>
<input type="text" name="name" value="<%= @song.name %>">


<label>Enter lyrics snippet:</label>
<input type="text" name="lyrics" value="<%= @song.lyrics %>">

<input type="submit" value="Edit song">
</form>