<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Songs and Artists</title>
</head>
<body>
  <h1>Artists and Their Songs</h1>
  <p>Welcome!</p>
  <p>Learn <a href="/about">about</a> our app!</p>
  <p><a href="/artists">See all artists</a></p>
  <p><a href="/songs">See all songs</a></p>
  <p><a href="/songs/new">Add a new song</a></p>
  <p><a href="/artists/new">Add a new artist</a></p>
  </body>
</html>